
:root{
    /* --background-color:white; */
     --background-color: rgb(255, 255, 255);
    --primary-color:#fd7648;
    /* --secondary-color: gainsboro; */
     --secondary-color: rgba(107, 107, 107, 0.318);
    /* --font-color:rgb(65, 65, 65); */
    --font-color:rgb(0, 0, 0);

    --back-con:rgb(245, 245, 245);
    --primary-font:monospace;
}
.dark-theme{
    --background-color:rgb(32, 32, 32);
    --primary-color:#fd7648;
    --secondary-color: rgba(220, 220, 220, 0.318);
    --font-color:rgb(255, 255, 255);
     --back-con:rgb(40, 40, 40);
}
p{
 font-family: sans-serif;
}
.home-container{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

#feed-article{
    width: 68%;
    height: auto;

}
.error-container{
    width: 80%;
    height: auto;
    margin: 15px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
}
.error-container p{
    margin: 0;
    opacity: 0.7;
}

@keyframes fadeLoader{
    0%{
        filter:drop-shadow(0 0 0px var(--primary-color));
        opacity:0.3;
    }
    50%{
        filter:drop-shadow(0 0 20px var(--primary-color));
        opacity:1;
    }
    100%{
        filter:drop-shadow(0 0 0px var(--primary-color));
        opacity:0.3;
    }
}
.loader-img{
    width: 80px;
    height: auto;
    animation: fadeLoader 1.6s infinite ease-in-out;
}


.nextPost-load-div{
    width: 100%;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

#his-article{
    width: 28%;
    height: auto;
   
}

.rule-absolute{
    background-color: var(--back-con);
    border-radius: 15px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}










@media screen and (max-width:1000px){
    #feed-article{
    width: 90%;
    height: auto;
 
}
#his-article{
    display: none;
}
}




