@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
:root{
    /* --background-color:white; */
     --background-color: rgb(234, 234, 234);
    --primary-color:#fd7648;
    /* --secondary-color: gainsboro; */
     --secondary-color: rgba(107, 107, 107, 0.318);
    /* --font-color:rgb(65, 65, 65); */
    --font-color:rgb(0, 0, 0);

    --back-con:rgb(245, 245, 245);
    --primary-font:monospace;
}
.dark-theme{
    --background-color:rgb(32, 32, 32);
    --primary-color:#fd7648;
    --secondary-color: rgba(220, 220, 220, 0.318);
    --font-color:rgb(255, 255, 255);
     --back-con:rgb(40, 40, 40);
}

.container-form{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.toast-feedback{
    position: absolute;
    top: 0px;
    height: 0;
}
p{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.container-form form{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   background: var(--primary-color);
    height: 100%;
    padding: 0;
    
}
.form-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 35%;
    width: 100%;
    height: 100%;
   margin: 0;
   background-color: white;
}

.logo-container{
    width: 30%;
    height: auto;
    display: flex;
    align-items:end;
    position: absolute;
    top: 0px;
    left: 10px;
}
.logo-container img{
    width: 10%;
}
.logo-container p{
    margin-bottom: 0px;
    color: black;
    font-size: 30px;
    font-family:"Yeseva One", serif;
}
.p-page{
    color: rgb(0, 0, 0);
    display: flex;
    gap: 5px;
    margin:0;
    font-family: sans-serif;
}
.p-page span:first-child{
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
}
.p-page span:last-child{
    font-size: small;
     font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: 0.5;
    cursor: pointer;
}
.p-page span:last-child:hover{
    color: var(--primary-color);
    opacity: 1;
}
.container-input{
    width: 65%;
    /* background-color: #FCD999; */
     
    padding: 10px 0px 10px 0px;
}
label{
    color: rgb(0, 0, 0);
    opacity: 0.7;
    font-family: sans-serif;
}
.div-input{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    color: rgb(0, 0, 0);
    align-items: center;
     margin-bottom: 15px;
     border-radius: 10px;

    border: 1px solid rgb(62, 62, 62);
}
.div-submit{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 5px;
    border: none;
}
.div-checkBox{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 60%;
}
.div-checkBox label{
    font-size:14px;
}
.input-auth{
    width: 100%;
    background: none;
padding: 10px;
border: none;
color: rgb(0, 0, 0);
}
.input-auth:focus{
    outline: none;
    border: none;
}
.show-password-icon{
    opacity: 0.6;
    color: black;
    margin-right: 10px;
}
.div-submit button{
    width: 27%;
    background-color:var(--primary-color);
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color: white;
}
.div-submit span{
    color: rgb(238, 62, 31);
    font-size: 15px;
    font-family: sans-serif;
   cursor: pointer;
}

.container-image{
    width: 50%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.container-image-center{
    width: 100%;
    height: 100%;
     background: var(--primary-color);
    border-top-left-radius: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0px 50px 0px 50px ;
}
.greeting{
    font-size: 35px;
}
.auth-img{
    width: 20%;
}
.logo-font{
    font-family:"Yeseva One", serif;
    color: white;
    font-size:35px;
    margin: 0;
}





.password-instruction{
    color: black;
}


@media screen and (max-width:768px){
    .container-form{
        flex-direction: column;
       
    }
    .container-form form{
        width: 100%;
      
         height: 100vh;
         border-radius: 0;
    }
    .form-center{
        border-radius: 0;
    }
    .container-image{
        width: 100%;
        display: none;
        height: 20vh;
    }
    .container-image-center{
        border-top-left-radius: 0px;
    }
    
}
