:root{
    /* --background-color:white; */
     --background-color: rgb(255, 255, 255);
    --primary-color:#fd7648;
    /* --secondary-color: gainsboro; */
     --secondary-color: rgba(107, 107, 107, 0.318);
    /* --font-color:rgb(65, 65, 65); */
    --font-color:rgb(0, 0, 0);

    --back-con:rgb(245, 245, 245);
    --primary-font:monospace;
}
.dark-theme{
    --background-color:rgb(32, 32, 32);
    --primary-color:#fd7648;
    --secondary-color: rgba(220, 220, 220, 0.318);
    --font-color:rgb(255, 255, 255);
     --back-con:rgb(40, 40, 40);
}

#content-container{
    color: var(--font-color);

    position: relative;
    display: flex;
    margin: 0;
    width: 100%;
    padding: 0;
}
#tool-article{
    width: 100%;
   height: auto;
   display: flex;
   justify-content: space-between;
   
   padding: 0;
}
#content-form{
    width: 60%;
    margin: auto;
    height: auto;
    padding: 10px 0px 35px 0px;
}
#article-rule{
    width: 30%;
    height: auto;
   
    padding-top: 15px;
}
.ant-menu{
    width: 80% !important;
    margin: auto !important;
    background-color: var(--back-con) !important;
    border-radius: 15px !important;
    padding: 0 !important;
    padding-left: 0 !important;
    
}
.ant-menu-title-content, .ant-menu-item-icon, .ant-menu-submenu-arrow{
    color: var(--font-color) !important;
    opacity: 0.8 !important;
}
#form-header-label{
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
}
#preview-toggle{
    border: none;
    height: auto;
    opacity: 0.8;
    background: var(--back-con);
    color: var(--font-color);
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}
#preview-toggle:hover{
    opacity: 1;
}

#content-label{
    margin: 10px 0px 10px 0px;
    font-family: sans-serif;
    font-size: 22px;
    color: var(--font-color);
    opacity: 0.7;
    font-weight: bold;
}
.content-label{
    color: var(--font-color);
}



/* Control (input box) */
.custom__control {
    width: 60% !important;
  border: 1px solid var(--secondary-color) !important;
  border-radius: 15px !important;
  min-height: 40px !important;
  background: var(--background-color) !important;
  font-family: sans-serif !important;
  font-size: small !important;
  
  color: var(--font-color) !important;
}
/* Selected value text */
.custom__single-value {
  color: var(--font-color) !important;
}

/* Placeholder text */
.custom__placeholder {
  color: var(--font-color) !important;
  opacity: 0.7; /* optional */
}

/* Input text when typing */
.custom__input {
  color: var(--font-color) !important;
}
.custom__control--is-focused {
  outline: none !important;
  border: 3px solid var(--secondary-color) !important;
  box-shadow: none !important; /* optional glow */
}

/* Dropdown menu */
.custom__menu {
     width: 60% !important;
  background-color: var(--back-con) !important;
  color: var(--font-color) !important;
}

/* Options */
.custom__option {
  padding: 10px !important;
  font-family: sans-serif !important;
  color: var(--font-color) !important;
  border-radius: 20px !important;
transition: color 0.5s ease ,
                background 0.5s ease, 
                margin-left 0.5s ease 0.5s ,
                transform 0.5s ease 0.5s !important;
}
.custom__option:hover{
    color: var(--primary-color) !important;
    transform: scale(0.9);
border-radius: 20px !important;
}
.custom__option--is-selected {
transform: scale(0.9);
border-radius: 20px !important;
  background-color: var(--primary-color) !important;
  color: var(--font-color) !important;
}
.custom__option--is-focused {
  outline: none !important;
  border: none !important;
}
.title-wrapper{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.title-label{
   
    font-family: sans-serif;
    font-size: 15px;
    color: var(--font-color);
    opacity: 0.7;
    margin: 0;
    margin-bottom: 3px;
}
#title-input{
    width: 97%;
   height: auto;
    min-height: 45px;
    background: none;
    color: var(--font-color);
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    resize: none;       /* disables manual resizing */
    overflow: auto;     
}
#title-input:focus{
    outline: none;
    border: 3px solid var(--secondary-color);

}
.char-counter{
    width: 99%;
    display: flex;
    padding: 0px;
    margin: 0;
   
    font-family: sans-serif;
    opacity: 0.8;
    font-size: small;
    justify-content: end;
}

#select-radio-type{
    display: flex;
    width: 100%;
    align-items: "center";
    justify-content: start;
    gap: 0;
    margin-top: 10px;
}
.radio-button-div-type{
    
    border: none;
    border-radius: 1px;
    margin: 0;
    padding: 0;
}
.radio-button-type{
    padding: 10px 20px 10px 20px;
    border-radius: 1px;
    background: none;
    border: none;
    color:grey;
    opacity: 0.9;
    font-weight: bold;
    cursor: pointer;

}
.radio-button-type:hover{
    background-color: var(--back-con);
}





#form-footer{
  width: 100%;
  height: auto;
  display: flex;
    margin-top: 10px;
    justify-content: end;
}
#content-post-button {
    position: relative;
    border: 2px solid transparent;
    padding: 8px 20px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    color: var(--font-color);
    opacity: 0.8;
  
    background: none;
    border-radius: 20px;
    z-index: 1;
}

/* Animated gradient border */
#content-post-button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 3px; /* border thickness */
    background: linear-gradient(270deg, var(--primary-color), yellow, var(--primary-color), yellow);
    background-size: 400% 400%;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    animation: borderGradient 7s linear infinite;
    z-index: -1;
}

@keyframes borderGradient {
    0%   { background-position: 0% 50%; }
    25%  { background-position: 50% 0%; }
    50%  { background-position: 100% 50%; }
    75%  { background-position: 50% 100%; }
    100% { background-position: 0% 50%; }
}


#content-post-button:hover{
    opacity: 1;
    
    animation: none;
    color: #fd7648;
}




#preview-article{
    width: 100%;
    /* height: calc(100vh - 60.8px); */
  height: 100%;
   position: absolute;
   top:0;
   padding: 0;
   right: 0;
 z-index: 1;
 background-color: var(--background-color);
}
#preview-container{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px 0px 10px 0px;
}
#preview-container p{
     margin: 0;
    word-break: break-word;
  overflow-wrap: anywhere;
}

.radio-button-div{
    
    border: 1px solid var(--secondary-color);
    border-radius: 1px;
    margin: 0;
    padding: 0;
}
.radio-button{
    padding: 10px 20px 10px 20px;
    border-radius: 1px;
    background: none;
    color:grey;
    opacity: 0.9;
    font-weight: bold;
    cursor: pointer;

}






#form-footer-2{
    width: 100%;
    height: auto;
    display: flex;flex-direction: row;
    justify-content: center;
    gap: 0px;
    margin-top: 70px;
    margin-bottom: 0px;
    flex-wrap: wrap;
}
#form-footer-2 p{
    color: var(--font-color);
    font-size: smaller;
    font-family: sans-serif;
    opacity: 0.5;
    margin: 0;
    margin-left: 10px;
}
#form-footer-2 p:hover{
    text-decoration: underline;
    opacity: 1;
}
#content-post-button-2 {
    position: relative;
    border: 2px solid transparent;
    padding: 8px 20px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    color: var(--font-color);
    opacity: 0.8;
  
    background: none;
    border-radius: 20px;
    z-index: 1
}


.slick-arrow{
    color: white !important;
    background: rgba(0, 0, 0, 0.158) !important;
    padding: 0px !important;
    margin: 0 !important;
    width: 40px !important;
    border: none !important;
    height:40px !important;
    border-radius: 50%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 15px !important;
    font-weight: bold !important;
    font-size: large !important;
    text-align: center !important;
}

.media-preview-carousel .slick-arrow::before,
.media-preview-carousel .slick-arrow::after {
  content: none !important;   /* remove default chevrons */
  display: none !important;
}
/* make sure the list hides overflow */
.media-preview-carousel .slick-list {
  overflow: hidden !important;
}

/* ensure each slide fills the viewport */

.slick-slide {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  width: 100% !important;   /* override inline width */
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
   box-sizing: border-box !important;

}

@media screen and (max-width:1200px){
    #tool-article{
     height:calc(100vh - 60.8px);
     /* height: 50vh; */
      overflow: scroll;
      scrollbar-width: none;

}
.rule-absolute{
    font-size: 10px;
}

}
@media screen and (max-width:1000px){
    /* #tool-article{
    width: 100%;
   height: auto;
   display: flex;
   justify-content: space-between;
   
   padding: 0;
} */
#content-form{
    width: 80%;
    margin: auto;
    height: auto;
    padding: 10px 0px 35px 0px;
}
   #article-rule{
    display: none;
   }

}
@media screen and (max-width:768px){
    #tool-article{
    width: 100%;
}
#content-form{
    width: 95%;
    padding: 0;
}
.title-wrapper{
    width: 98.5%;
}
#form-footer-2{
       margin-top: 20px;
   
    
}
    /* #preview-article{
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--background-color);
    height: auto;
    right: 0;
    border-left: none;
} */

}