:root{
    /* --background-color:white; */
     --background-color: rgb(255, 255, 255);
    --primary-color:#fd7648;
    /* --secondary-color: gainsboro; */
     --secondary-color: rgba(107, 107, 107, 0.318);
    /* --font-color:rgb(65, 65, 65); */
    --font-color:rgb(0, 0, 0);

    --back-con:rgb(245, 245, 245);
    --primary-font:monospace;
}
.dark-theme{
    --background-color:rgb(32, 32, 32);
    --primary-color:#fd7648;
    --secondary-color: rgba(220, 220, 220, 0.318);
    --font-color:rgb(255, 255, 255);
     --back-con:rgb(40, 40, 40);
}
/* Wrapper */
.tags-input-wrapper {
  font-family:  sans-serif;
  width: 100%;
  height: auto;
 margin-top: 10px;
 padding-bottom: 5px;
   background-color:#1a1a1b;
    border: 1px solid #343536;
   border-radius: 10px;
}

/* Label */
.tags-label {
  font-family: sans-serif;
   width: 95%;
    color: var(--font-color);
    opacity: 1;
    margin: auto;
    margin-top: 15px;
   opacity: 0.8;
}
#tags-label-header{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: large;
}
/* Input container */
.tags-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 20px 20px 10px 20px;
  background:transparent;
  color: var(--font-color);
 
}

.tag-input:focus-within {
  border: 3px solid var(--secondary-color);
  color: var(--font-color);
  outline: none;
}

/* Error state */
.tags-input.has-error {
  border-color: #e74c3c;
  background: #fff5f5;
}

/* Tag style */
.tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  background:var(--secondary-color);
  color: var(--font-color);
  font-size: 13px;
  padding: 6px 12px 6px 16px;
  margin-right: 6px;
  line-height: 1;
 box-shadow: 0 1px 2px var(--back-con);
}

/* LEFT TRIANGLE */
.tag::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 8px solid var(--secondary-color);
}

/* small circle hole effect (optional but matches image better) */
.tag::after {
  content: "";
  position: absolute;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background:var(--background-color);
  border-radius: 50%;
}

/* hover / active (orange one) */
.tag:hover {
  background: #fd7747;
  color: #fff;
}

.tag:hover::before {
  border-right-color: #fd7747;
}

/* Active/highlight tag (like orange one in image) */
.tag:hover {
  background: #fd7747;
  color: #fff;
}

/* Tag text */
.tag-text {
  margin-right: 6px;
}

/* Remove button */
.tag-remove {
  border: none;
 
  color: inherit;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  padding: 0;
  margin: 0;
  margin-left: 6px;
  height: 100%;
  opacity: 0.7;
}

.tag-remove:hover {
  opacity: 1;
}

/* Input field */
.tag-input {
  width: 95%;
  padding: 10px 0px 10px 10px;
  margin: auto;
  border-radius: 6px;
  border: 1px solid var(--secondary-color);
  background:transparent;
  color: var(--font-color);
  
  transition: all 0.2s ease;
}

.tag-input::placeholder {
  color: #aaa;
}

/* Controls section */
.tags-controls {
  display: flex;
  width: 96%;
  margin: auto;
  padding: 0px 0px 10px 00px;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

/* Clear button */
.btn-clear {
   border: none;
  cursor: pointer;
  opacity: 0.9;
  background: var(--back-con);
  font-size: 12px;
  color: var(--font-color);
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
}

.btn-clear:hover {
opacity: 1;
  background: #b31e1e66;
}

/* Count */
.tags-count {
font-family: sans-serif;
    opacity: 0.8;
    font-size: small;
    justify-content: end;
    color: var(--font-color);
}

/* Error message */
.tags-error {
  margin-top: 6px;
  font-size: 12px;
  color: #e74c3c;
}

/* Hint */
.tags-hint {
  margin-top: 4px;
  font-size: 12px;
  color: #aaa;
}



 .toggle-switch {
            display: flex;
            margin: 0;
            padding: 0;
            align-items: center;
            gap: 10px;
        }
        #token-reminder-p{
          font-size: medium;
          font-family: sans-serif;
          color: var(--font-color);
          opacity: 0.7;
          margin: 0;
          margin-bottom: 5px;
        }
        .toggle-switch input {
            display: none;
        }
        .toggle-switch label {
            width: 45px;
            height: 22px;
            background: #ccc;
            border-radius: 50px;
            position: relative;
            cursor: pointer;
            transition: 0.3s;
        }
        .toggle-switch input:checked + label {
            background:#007bff;
        }
        #toggle-text-preview{
          font-size: small;
          font-family: sans-serif;
          color: var(--font-color);
          opacity: 0.7;
          margin: 0;
          
        }
        .toggle-switch label::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            background: white;
            border-radius: 50%;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            transition: 0.3s;
        }
        .toggle-switch input:checked + label::before {
            left: 25px;
        }

        .radio {
  display: none; 
}

label img {
  width: 80px; 
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: border 0.2s ease;
}

label img.selected {
  border: 2px solid #007bff; 
}



/* image uploader */
.media-uploader {
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
  position: relative;

}

.upload-placeholder {
  border: 2.22px dashed var(--secondary-color);
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-color: var(--back-con);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
  cursor: pointer;
}
.upload-placeholder:hover{
  opacity: 0.5;
}
#cloud-icon{
  font-size: 75px;
  color: var(--font-color);
  opacity: 0.5;
  margin: 0 auto 0 auto;
}
.file-input {
  display: none;
}

.upload-hint {
  color: var(--font-color);
}

.media-carousel {
  max-height: 380px;
padding: 0;
  height: 380px;   /* match slide */

width: 100%;
}
.media-carousel .slick-list {
  
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}
.media-carousel .slick-slide {
  margin: 0 !important;
  padding: 0 !important;

}

.media-carousel .slick-track {
 padding: 0 !important;
 margin: 0 !important;

}

.carousel-slide {
  height: 380px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 0;
  justify-content: center;
}

.preview-wrapper {
  position: relative;
  width: 100%;
  height: 380px;
  padding: 0;
  display: flex;
    border-radius: 25px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* main image */
.preview-image {
  height: auto;
  max-width: 100%;
  margin: auto;
  max-height: 380px;
  object-fit: cover; 
  position: relative;
  padding: 0;
  z-index: 1;
  display: block;
}

/* blurred background behind image */
.preview-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
  background: var(--preview-url) center/cover no-repeat;
  filter: blur(20px);
  transform: scale(1.1);
  opacity: 0.5;
  z-index: 0;
  padding: 0;
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--back-con);
  opacity: 0.5;
  color: var(--font-color);
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  z-index: 2;
}
.remove-btn:hover{
  color: #b31e1e;
  opacity: 1;
}
.video-placeholder {
  font-size: 14px;
  color: var(--font-color);
}

.add-file-label {
  cursor: pointer;
  display: block;
  
  height: 100%;
}

.add-file-text {
  font-size: 14px;
  color: #eee;
  
}



.add-more-text {
  border: none;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
  background: var(--back-con);
  font-size: 12px;
  color: var(--font-color);
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 0px 3px  var(--font-color);
}
.add-more-text:hover{
  opacity: 1;
}

.uploader-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 5px;
  height: auto;
 
}
.uploader-footer-right{
  display: flex;
  align-items: center;
  gap: 5px;
  height: auto;
}
.remove-all-btn{
  /* background: #b31e1e66;
  color:var(--font-color);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.9; */
 
  cursor: pointer;
  opacity: 0.9;
  background: var(--back-con);
  font-size: 12px;
  color: var(--font-color);
  padding: 6px 12px;
  margin-right: 2px;
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
}
.remove-all-btn:hover{
  opacity: 1;
  background: #b31e1e66;
}

.remove-all-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.media-count {
 font-family: sans-serif;
    opacity: 0.8;
    font-size: small;
    justify-content: end;
  color: var(--font-color);
}



