.comment-box {
  width: 100%;
  padding: 10px;
}

#label-com-count{
  opacity: 0.9;
  font-size: large;
  font-weight: 600;
  color:var(--font-color);
}
.comment-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid var(--secondary-color);
  background: none;
  color:var(--font-color);
  opacity: 0.9;
  border-radius: 10px;
  cursor: pointer;
}
.comment-btn:hover{
  border: 2px solid var(--secondary-color);
  opacity: 1;
}
.comm-mention-name{
  font-size: medium;
    margin-right: 3px;
}
.comment {
  width: auto;
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.reply {
  margin-left: 10px;
  border-left: 2px solid grey;
  padding-left: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.avatar-image{
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  object-fit: cover;
  border-radius: 50%;
}

.comment-body {
  flex: 1;
}
.comment-header{
  width: 98%;
 display: flex;
 justify-content: space-between;
}
.comment-name{
  color: var(--font-color);
  margin: 0;
  opacity: 0.9;
}
.icon-formore-comm{
  opacity: 0.8;
}

.comment-text{
  margin-top: 2px;
}
.edited-badge{
 font-size: x-small;
 font-style: italic;
 margin-left: 5px;
 color: rgb(98, 98, 244);
}
.comm-content{
  font-size: medium;

}

.comment-gif{
  margin-top: 5px;
  overflow: hidden;
}
.gif-com{
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: 250px;
}
.comment-actions {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
  color: var(--font-color);
  opacity: 0.8;
 
}
.comment-actions-left{
  display: flex;
  align-items: center;
  gap: 10px;
}
.comment-like-button{
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color:var(--font-color);
  
  gap: 2px;
}
.arrow-reply{
  color:var(--primary-color);
  opacity: 0.9;
}
@media screen and (max-width:768px){
.avatar {
  width: 27px;
  height: 27px;

}
.comment-name{
  font-size: small;
  
}
.reply {
  margin-left: 0px;
  border-left: 1px solid grey;
  padding-left: 10px;
}
.comm-mention-name{
  font-size: small;
}
.comm-content{
  font-size: small;
}
.comment-gif{
  margin-top: 5px;
  
}
.gif-com{
  max-height: 150px;
  max-width: 180px;
}
.comment-text{
  margin-top: 0px;
}
}
.comment-page {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-page textarea {
  height: 120px;
}

.gif-preview {
  width: 100%;
  border-radius: 8px;
}

.report-box {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reply-toggle{
  background:none;
  border:none;
  color:skyblue;
  cursor:pointer;
  margin-top:8px;
}

.highlight-comment{
  background:#3a3a3a;
  border-radius:10px;
  transition:0.3s;
  animation: highlightFade 10s ease;
}



#no-com-div{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 20px;
}
.no-com-p{
  color: grey;
  font-size: large;
  font-weight: 500;
}

@keyframes highlightFade{
  0%{
    background:#5a5a5a;
  }
  100%{
    background:transparent;
  }
}


@media screen and (max-width: 768px){
  #label-com-count{
    font-size: medium;
    font-weight: 500;
  }
}
    